/* SOME GENERAL*/  
body {
    background-color: #F2F2F2;
}
.header {
    background-color: #fff;  
}

.fb-button {
    padding-top: 1.5rem;
    margin-top: 3rem;
}
.shadow{
    -webkit-box-shadow: 0px 4px 6px 0px #999;
    -moz-box-shadow: 0px 4px 6px 0px #999;
    box-shadow: 0px 4px 6px 0px #999;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

/* TOP Header */
.container-wset {
    height: 150px;
    width:100%;
}
/* NAVBAR  */
.filler {
    margin-left: 5%;
    visibility: hidden;
}
.navbar-list {
	list-style: outside none none;
    margin-bottom: 0;
    width:100%;
}
.navbar  .container {
    width: 100%;
    background-color: white;
    display:table;
}
.container {
    max-width: 800px;
    position: relative;
}
li.navbar-item {
    display: inline;
    margin-bottom: 0;
    position: relative;
    text-align: center;
}

.navbar-link  {
    display: inline-block;
    color: #222;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.2rem;
    line-height: 6.5rem;
    text-decoration: none;
    text-transform: uppercase;
    width:100%;
}
.navbar a.current {
    color:red;
}
.navbar a.navbar-link:hover {
    color:red;
    background-color: #F2F2F2;
}

.navbar {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #D8D8D8;
    display: block;
    height: 6.5rem;
    width: 100%;
    z-index: 99;
}

/*.navbar-spacer {
    background: #fff none repeat scroll 0 0;
    display: block;
    border-bottom: 1px solid #D8D8D8;
    height: 3rem;
    width: 100%;
    z-index: 99;
} */
/* MAIN BODY */
#main-body{
	margin-top: 3rem;
	padding-top: 1.5rem;
    margin-bottom: 3rem;
    padding-bottom: 1.5rem;
	background-color: #fff;
    border-radius: 1%;
}

/* INDEX BIT */

#main-body .sub-home {
    opacity: 0.75;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-color: #666;
}
#main-body .sub-home:hover {
    opacity:1;
}
.sub-home p {
    margin-bottom: 1.5rem;
    text-align: justify;
}
.sub-home h5 {
    color:red;
    font-weight: bold;
}
.sub-home p.timestamp {
    font-size: 1rem;
    text-align: right;
    margin-bottom: 0rem;
    opacity: 0.75;
}
.sub-home hr {
    margin-top: 0.5rem;
}
/* ABOUT TEXT BIT */
.sub-about{
    opacity: 0.75;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}
.sub-about:hover {
    opacity:1;
}
.sub-about p {
	text-align: justify;
}
.sub-about h5 {
	color:red;
    font-weight: bold;
}
/* SPONSORS */
.sub-sponsors hr {
    margin-top: 0.5rem;
}
.sub-sponsors{
    opacity: 0.75;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}
.sub-sponsors:hover {
    opacity:1;
}
.sub-sponsors p {
    text-align: justify;
    margin-bottom: 1rem;
}
.sub-sponsors h5 {
    color:red;
    font-weight: bold;
}
.s-image {
    margin-left: 0rem;
    margin-top:2rem;
    margin-bottom:2rem;
}
/* EVENTS */
.sub-events{
    opacity: 0.75;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}
.sub-events:hover {
    opacity:1;
}
.sub-events p {
    text-align: justify;
}
.sub-events h5 {
    color:red;
    font-weight: bold;
}

/*------Media addapts-------*/
@media(max-width: 1200px) {
    .fb-button{
       visibility: hidden;
    }
}

@media(max-width: 750px) {
    .navbar-link {
        font-size: 1rem;
    }
}

@media(max-width: 550px) {
    #main-body{
        margin-top: 30rem;
    }

}
